In [2]:
# !pip install gmaps

In [4]:
# !conda install -c conda-forge gmaps -y

In [28]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import API key
from config import gmaps_api_key

In [6]:
# Store CSV into DF
city_data_df = pd.read_csv("Weather_Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ahipara,NZ,2022-03-10 19:12:38,-35.1667,173.1667,63.18,90,29,6.69
1,1,Saint-Philippe,RE,2022-03-10 19:12:39,-21.3585,55.7679,80.19,85,39,9.17
2,2,Busselton,AU,2022-03-10 19:12:39,-33.6500,115.3333,73.51,48,89,10.85
3,3,Hilo,US,2022-03-10 19:12:40,19.7297,-155.0900,79.61,69,0,5.99
4,4,Puerto Ayora,EC,2022-03-10 19:12:40,-0.7393,-90.3518,85.96,86,52,5.01

In [7]:
# Check data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use Google API key
gmaps.configure(api_key = gmaps_api_key)

In [11]:
# Get max temp -- fix for some max temps being less than 0
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Create heatmap of temp

# Get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get max temp
max_temp = city_data_df["Max Temp"]

# Assign figure variable
fig = gmaps.figure()

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = temps)

# Add heatmap layer
fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create heatmap of temp -- alternative approach using list comprehension instead of for loop to get temps >0

# Get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get max temp
max_temp = city_data_df["Max Temp"]

# Assign figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.6)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)

# Add heatmap layer
fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Create heatmap of humidity

# Get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get max temp
humidity = city_data_df["Humidity"]

# Assign figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.6)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)

# Add heatmap layer
fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Create heatmap of cloudiness

# Get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get max temp
cloudiness = city_data_df["Cloudiness"]

# Assign figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.6)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = cloudiness, dissipating = False, max_intensity = 300, point_radius = 4)

# Add heatmap layer
fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Create heatmap of wind speed

# Get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get max temp
wind = city_data_df["Wind Speed"]

# Assign figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.6)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius = 4)

# Add heatmap layer
fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask customer to add min and max temp values
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter DF to find cities that fit temp criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Saint-Philippe,RE,2022-03-10 19:12:39,-21.3585,55.7679,80.19,85,39,9.17
3,3,Hilo,US,2022-03-10 19:12:40,19.7297,-155.0900,79.61,69,0,5.99
4,4,Puerto Ayora,EC,2022-03-10 19:12:40,-0.7393,-90.3518,85.96,86,52,5.01
10,10,Cidreira,BR,2022-03-10 19:12:43,-30.1811,-50.2056,79.63,79,100,9.51
14,14,Carauari,BR,2022-03-10 19:12:46,-4.8828,-66.8958,86.20,65,75,4.54
17,17,Bengkulu,ID,2022-03-10 19:09:39,-3.8004,102.2655,76.32,89,100,4.70
23,23,Nacozari,MX,2022-03-10 19:12:50,25.3366,-108.2574,76.05,18,89,9.55
25,25,Maceio,BR,2022-03-10 19:12:51,-9.6658,-35.7353,83.64,65,75,9.22
31,31,Cabo San Lucas,MX,2022-03-10 19:09:47,22.8909,-109.9124,75.61,52,20,11.50
43,43,Rikitea,PF,2022-03-10 19:12:58,-23.1203,-134.9692,78.40,71,20,7.94

In [23]:
# Determine if DF has any null values for any rows
preferred_cities_df.count()

City_ID       175
City          175
Country       174
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [24]:
# Remove row with null value
preferred_cities_df = preferred_cities_df.dropna()

In [25]:
# Confirm no null values
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [26]:
# Create hotel DF to store hotel names with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1   Saint-Philippe      RE     80.19 -21.3585   55.7679
3             Hilo      US     79.61  19.7297 -155.0900
4     Puerto Ayora      EC     85.96  -0.7393  -90.3518
10        Cidreira      BR     79.63 -30.1811  -50.2056
14        Carauari      BR     86.20  -4.8828  -66.8958
17        Bengkulu      ID     76.32  -3.8004  102.2655
23        Nacozari      MX     76.05  25.3366 -108.2574
25          Maceio      BR     83.64  -9.6658  -35.7353
31  Cabo San Lucas      MX     75.61  22.8909 -109.9124
43         Rikitea      PF     78.40 -23.1203 -134.9692

In [29]:
# Set parameters for hotel search
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmaps_api_key}

# Iterate through DF
for index, row in hotel_df.iterrows():
    
    # Get latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add latitude and longitude to location key for params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use search term "lodging" and latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get JSON data from search
    hotels = requests.get(base_url, params = params).json()
    
    # Grab first hotel from results and store name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [30]:
# View DF
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Saint-Philippe,RE,80.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,Hilo,US,79.61,19.7297,-155.0900,Hilo Hawaiian Hotel
4,Puerto Ayora,EC,85.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
10,Cidreira,BR,79.63,-30.1811,-50.2056,Hotel Castelo
14,Carauari,BR,86.20,-4.8828,-66.8958,Hotel Fellip

In [33]:
# Add info box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [34]:
# Store DF row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Create heatmap of temp

# Get latitude and longitude
locations = hotel_df[["Lat", "Lng"]]

# Get max temp
max_temp = hotel_df["Max Temp"]

# Assign figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.6)

# Assign heatmap and marker variables
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add heatmap and marker layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))